@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

#wndctn > div,
.dialog,
#gray,
#avgstr,
.difflabel,
.touchcube {
  visibility: hidden !important;
  position: absolute;
}
body {
  background-color: #11191f !important;
}
.click {
  color: #a0a3a5 !important;
}
.activetimer {
  color: #ffffff !important;
}
.click,
.activetimer {
  font-family: "Space Grotesk", sans-serif !important;
}
.click {
  font-size: 24px !important;
}
@media screen and (max-width: 1000px) {
  #timer {
    width: 100% !important;
    left: 0 !important;
  }
  #rtimer {
    bottom: 0 !important;
    height: auto !important;
    left: 50% !important;
    right: auto !important;
    padding-bottom: 8px !important;
    transform: translateX(-50%) !important;
  }
}
@media screen and (max-width: 782px) {
  canvas {
    max-width: 360px;
    min-width: 320px;
  }
}
