
# Generated output
/dist
/tmp
node_modules

# IDE, Editors, Local configs
.vscode/
.history/
*~
*.sw?
.idea/
*.iml
*.iml
 *.ipr
 *.iws
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.pem
.npmrc

# Common
*.log
*.bak
*.tmp
.DS_Store
Thumbs.db
